.icon-tag {
    font-size: 4rem;
}

.card-info-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    gap: 5rem;
    font-size: 25px !important;
}

.card-box {
    background-color: #F4F3F2 !important;
    border: none !important;
    box-shadow: none !important;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
    .card-info-container {
        gap: 2rem; /* Ajusta o espaçamento */
        font-size: 20px;
    }
}

/* Responsividade para mobile */
@media (max-width: 580px) {
    .card-info-container {
        flex-direction: column !important; /* Alinha os cards em coluna */
        gap: 1rem; /* Ajusta o espaçamento */
        font-size: 18px;
    }
}