.MuiPaper-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
  text-align: center;
}

.MuiPaper-root img {
  border-radius: 0px;
}

.Carousel {
  background-color: blue !important;
}

.Carousel-indicators {
  position: absolute !important;
  bottom: 10px !important;
  /* Ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.css-1m9128y{
  width: 100%;
  /* margin-top: 10px; */
  text-align: center;
  transform: translateX(-500%) !important;
  z-index: 5 !important;
}